body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-text{
  margin: 0 auto;
  max-width: 800px;
  margin-top: 50px;
}

.inv{
  margin-right: 20px;
}

.main-text h1{
  font-size: 50px;
  font-weight: bold;
}

.home-nav{
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.home-nav h3{
  margin-left: 20px;
  margin-right: 20px;
}

.securely{
  color: lightseagreen;
}

.landing-img{
  max-width: 700px;
  margin: auto;
}

.home-tab{
  color: black;
}

.landing-body{
  text-align: center;
}

.pbar{
  margin-top: 10px;
}

.a-text{
  color: black;
  margin-left: 20px;
  font-weight: 500;
}

.bold-text{
  font-weight: bold;
}

#uncontrolled-tab-example-tab-contact{
  color: black;
}

#uncontrolled-tab-example-tab-recently{
  color: black;
}

#uncontrolled-tab-example-tab-profile{
  color: black;
}

#uncontrolled-tab-example-tab-home{
  color: black;
}

.landing-nav{
  margin-top: 20px;
  border-radius: 10px;
}

/* .delete-member-btn{
  position: relative;
  right: 0;
} */

.members-list{
  justify-content: space-between;
}

.landing-buttons{
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.get-started{
  margin-right: 20px;
}

.folder-card{
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
  border-radius: 15px;
}

.folder-empty{
  margin-top: 100px;
  text-align: center;
}

.folder-file{
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
}

.folder-file a{
  color: grey;
}

.create-folder-button{
  margin-right: 20px;
}

a{
  text-decoration: none;
}

.folder-buttons{
  display: flex;
}

.settings-button{
  margin-left: 120px;
}

.folders{
  display:flex;
  margin-top: 20px;
  justify-content: space-between;
}

#upload-progress{
  margin-top: 20px;
}

.login-main{
  margin-top: 20vh;
}

.signup-main{
  margin-top: 20vh;
}

.add-buttons{
  justify-content:center;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

@media(max-width:768px){
  .folder-card{
    width:100%;
  }
}
